
body{
  background: linear-gradient(114.2deg, rgb(17, 230, 230) 22.6%, rgb(220, 228, 175) 67.7%);
  background-repeat: no-repeat;
  height: 80vh;

  text-align: center;
  font-family: 'Poppins';
  margin-top: 150px;
         
}
.App{
  position: relative;
  justify-content: center;
  margin: auto;
  align-items: center;
  background: rgba(255,255,255,0.24);
  border-radius: 8px;

  width: 300px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
  backdrop-filter: blur(2.4px);

}


.humidity{
color: rgb(39, 38, 39);
font-size: 50px;
font-weight: 500;
text-align: center;
text-shadow: 3px 3px rgba(2, 2, 30, 5);
}
.temp_max{
margin-bottom: 15px;
font-size: 20px;
font-weight: 700;
}
.name{
  color: rgb(15, 15, 14);
  font-size: 20px;
  font-weight: 700;
}
.climate{
color: black;
font-size: 30px;
font-weight: 500;
font-style: bold;
text-align: center;
}
.temperature{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.button{
padding: 12px 10px;
border-radius: 5px;
border: none;
cursor: pointer;
font-weight: 700;
transition: box-shadow 200ms ease;
align-items: center;
}

